@tailwind base;
@tailwind components;
@tailwind utilities;

.react-daterange-picker__wrapper {
  background: #0c0c0c;
  color: white;
  border-radius: 5px;
  height: 40px;
}

.react-calendar {
  background: #0c0c0c !important;
  color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background: #292929 !important;
}

.react-calendar__tile--active {
  background-color: #292929 !important;
}

.react-calendar__tile:hover {
  background-color: #484848 !important;
}

.react-calendar__tile--now {
  background-color: #ff8400 !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #ff8400 !important;
}

.react-daterange-picker__wrapper {
  display: flex;
  justify-content: center;
  gap: 10px 0px !important;
}

.react-daterange-picker__inputGroup {
  flex-grow: 0 !important;
  min-width: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-calendar__navigation__label:hover,
.react-calendar__navigation__arrow:hover {
  background-color: #292929 !important;
}
